<!DOCTYPE html>
<html>
<head>
<style> 
input[type=text] {
    width: 5%;
}

textarea {
    width: 30%;
    height: 150px;
}

li {
    color: #FF0000;
}
</style>
</head>

<body>

<h2>Multigene Primer Design</h2>

<form action="/primer-design" method="post">

  {% if form.errors %}
    <ul>
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
  {% endif %}
   
  
  <div id="input">
    {{ form.sequence.label }}<br>	
    {{ form.sequence }}
  </div>
  
  <div id="options">
    <h3>Options</h3>
  <div>	
    Primer length:
  <div>
    {{ form.min_length.label }}
    {{ form.min_length }}
    {#{ form.opt_length.label }}
    {{ form.opt_length }#}
    {{ form.max_length.label }}
    {{ form.max_length }}
  </div>
  </div><br>
  
  <div>	
    GC content (&#37;):
  <div>
    {{ form.min_content.label }}	
    {{ form.min_content }}
    {#{ form.opt_content.label }}
    {{ form.opt_content }#}
    {{ form.max_content.label }}
    {{ form.max_content }}
  </div>
  </div><br>
  
  <div>	
    Melting temperature (&#176;C):
  <div>
    {{ form.min_tm.label }}
    {{ form.min_tm }}
    {#{ form.opt_tm.label }}
    {{ form.opt_tm }#}
    {{ form.max_tm.label }}
    {{ form.max_tm }}
  </div>
  </div><br>

  <div>
    Product length:	
  <div>
    {{ form.min_product_length.label }}	
    {{ form.min_product_length }}
    {{ form.max_product_length.label }}	
    {{ form.max_product_length }}

  </div>
  </div><br>

  <div>
    Concentration:	
  <div>
    {{ form.concentration_primer.label }}	
    {{ form.concentration_primer }}
    {{ form.concentration_strand.label }}	
    {{ form.concentration_strand }}

  </div>

  </div>

</div>
  
  <br><br>
  <input type="submit" value="Submit">
</form> 

</body>
</html>

